<h1><%= "Mechanic #{@mechanic.name} details" %> </h1>

<%= "Mechanic Name: #{@mechanic.name}" %>
<%= "Mechanic Experience: #{@mechanic.experience} years" %>
<%= "Mechanic is working on:" %>
<% @working.each do |ride| %>
<%= ride.name %>
<%= ride.thrill_rating %>
<%= ride.open %>
<% end %>