<h1>Mechanic Info</h1>

<p>Name: <%= @mechanic.name %> </p>
<p>Years of Experience: <%= @mechanic.years_experience %> </p>
<% @rides.each do |ride|%>
  Rides Working On: <%= ride.name %>,
<% end %>

<h2>Add Ride to Mechanic's Workload</h2>
<%= form_with url: "/mechanics/#{@mechanic.id}", method: :get, local: true do |form| %>
  <%= form.label :ride_id %>
  <%= form.text_field :ride_id %>
  <%= form.submit "Submit" %>
<% end %>
