<h1><%= "Mechanic #{@mechanic.name} details" %> </h1>

<%= "Mechanic Name: #{@mechanic.name}" %>
<%= "Mechanic Experience: #{@mechanic.experience} years" %>
<% @working.each do |ride| %>
<%= "#{@mechanic.name} is working on: #{ride.name}" %>
<%= "Which has a thrill rating of #{ride.thrill_rating} " %>
<%= "And is open? #{ride.open} " %>
<% end %>
<% form_with url: "mechanics/#{@mechanic.id}", method: :get, local: :true do |f| %>
<%= f.label '' %>
<% %>