<h2><%= @mechanic.name %></h2>
<p>Years of Experience:<%= @mechanic.years_of_experience %></p>

<% @mechanic.open_rides_by_thrills.each do |ride| %>
  <p class="ride"><%= ride.name %></p>
<% end %>

<%= form_with url: "/mechanics/#{@mechanic.id}/mechanics_and_rides", method: :post do |f| %>
  <%= f.number_field :ride_id %>
  <%= f.submit "Add this ride to this mechanic" %>
<% end %>
