<h1><%= @mechanic.name %></h1>
<p>Years Experience: <%= @mechanic.years_experience %></p></br>
<h3>Current rides being worked on:</h3>
<% @rides.each do |ride| %>
      <p><%= ride.name %></p>
  <% end %>

<%= form_with url: "/mechanics/#{@mechanic.id}", method: :post, local: true do |form| %>
  <%= form.label :name %><br/>
  <%= form.text_field :name %><br/>
  <%= form.submit 'Submit' %>
<% end %>
