<h2><%= @mechanic.name %></h2>
<h3><%= @mechanic.experience %></h3><br/><br/>

<p>Current Rides Working on: </p>

<% @rides.each do |ride| %>
  <section id="ride-<%= ride.id %>">
    <h3><%= ride.name %></h3>
  </section>
<% end %>
<br/><br/>

<p>Add a Ride to Workload:</p><br/>
<%= form_with url: "/mechanics", method: :post, local: true do |form| %>
  <%= form.label 'Ride Id:' %>
  <%= form.number_field :ride_id %><br/>

  <%= form.submit 'Submit' %>
<% end %>
