<h2>Mechanic: <%= @mechanic.name %></h2>
<h3>Years Experience: <%= @mechanic.years_experience %></h3>

<p>
  Assign New Ride to <%= @mechanic.name %>:
  <%= form_with url:"/mechanics/#{@mechanic.id}", method: :post, local: true do |f| %>
    <%= f.label :ride_id %>
    <%= f.number_field :ride_id %>
    <%= f.submit 'Submit' %>
  <% end %>
</p>
<strong>Rides Currently Assigned:</strong>
<ul>
<%= @mechanic.open_important_rides.each do |r| %>
  <li>Ride Name: <%= r.name %> Importance: <%= r.thrill_rating %></li>
<% end %>
</ul>
