<h1> <%= @mechanic.name %> </h1>
<p>Years of experience: <%= @mechanic.years_experience %></p>

<h3>Current Rides: </h3>
<% @rides.each do |ride| %>
  <p><%= ride.name %>: <%= ride.trill_rating %></p>
<% end %>

<h3>Add a ride to workload</h3>
<%= form_with url: "/mechanics/#{@mechanic.id}", method: :patch, local: true, params: {ride_id: :ride_id} do |f| %>
  <%= f.label          "ride ID" %>
  <%= f.number_field     :ride_id, required: true %><br>
  <%= f.submit 'Submit' %>
<% end %>
