<%= link_to 'Home Page', '/' %>

<h1>Professor Index</h1>

<% @profs.each do |prof| %>
  <h3><a href="/professors/<%= prof.id %>"><%= prof.name %></a></h3>
  <h4>Age: <%= prof.age %></h4>
  <h4>Specialty: <%= prof.specialty %></h4>
<% end %>
