<div class="professor_info">
  <h1><%= @professor.name %></h1>
  <h4>age: <%= @professor.age %></h4>
  <h4>specialty: <%= @professor.specialty %></h4>
</div>

<div class="student_info">
  <h4>avreage student age: <%= "#{@average_age}" %></h4>
  <% @students.each do |student| %>
    <h4> <%= student.name %></h4>
  <%end%>
</div>
