<h2>Professor's name: <%= @professor.name %></h2>
Professor's age: <%= @professor.age %>
Professor's specialty: <%= @professor.specialty %>

<section id="students">
  <%= "Professors students:" %>
  <% @professor.students.each do |student| %>
    <h3><%= student.name %></h3>
  <% end %>
</section>
