<h1> <%= @professor.name %>'s Page</h1>
<p><%= @professor.age %></p>
<p><%= @professor.specialty %></p>

<h1> <%= @professor.name %>'s Students </h1>
<% @professor.students.each do |student| %>
<p>  <%= student.name %></p>
<%= button_to "Unenroll", professor_path(@professor.id), method: :delete, local: true %>
<% end %>

<p> Average age of all students is <%= @professor.students.average_age %></p>
