<section id="shown-prof">
	<h1><%= @professor.name %></h1>
	<p><%= @professor.age %></p>
	<p><%= @professor.specialty %></p>
</section>
<h2>Students Enrolled:</h2>
<% @professor.students.each do |student| %>
	<section id="<%= @professor.id %>s-students">
		<p><%= student.name %></p>
	</section>
<% end %>
