<h1>Update details for Professor <%= @professor.name %></h1>
<section id="form">
<%= form_with url: "/professors", method: :patch, local: true do |form| %>
  <%= form.label :name, "Name: " %>
  <%= form.text_field :name, required: true %><br>
  <%= form.label :age, "Age: " %>
  <%= form.number_field :age, required: true %><br>
  <%= form.label :specialty, "Specialty: " %>
  <%= form.number_field :specialty, required: true %><br>
  <%= form.hidden_field :id, value: @professor.id %>
  <%= form.submit "Submit" %>
<% end %>
</section>
